@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('http://fonts.cdnfonts.com/css/facebook-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Noto Sans', sans-serif;
}

@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  *::-webkit-scrollbar {
   @apply w-0;
  }
  
}

@layer utilities {
  .clip {
    clip-path: polygon(0 0%, 100% 0, 100% 70%, 0% 100%);
  }

  .c-font {
    font-family: 'Facebook Narrow App', sans-serif;
  }
  
}


@-webkit-keyframes dash {
  to {
      stroke-dashoffset: 0;
  }
}

.path {
  -webkit-animation: dash 15s linear infinite;
  stroke-dashoffset: 1000;

}

.r-path {
  -webkit-animation: dash 15s linear infinite;
  stroke-dashoffset: -1000;

}

.r-s-path, .s-path {
  -webkit-animation-duration: 10s;
}
